if SHIELD_CHARLYTEST_R

config ZMK_KEYBOARD_NAME
    default "charly-test"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHARLYTEST_L || SHIELD_CHARLYTEST_R

config ZMK_SPLIT
    default y

endif

if SHIELD_CHARLYTEST_R

config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y

endif